// /* Media Querys */
// /* Diseno comienza desde base Mobile First Galaxy S8 360w */
// /* Ajustes Ipad Air 820 w */
@use "utilidades";
@use "variables";

@media screen and (min-width: 820px) {
  .contenedorCall {
    width: 60%;
  }
  .headerBanner {
    font-size: 3.125rem;
  }
  .botonBanner {
    font-size: 2.5rem;
  }
  .footerTitulo {
    font-size: 1.15rem;
  }

  //   /* A partir de 820w se muestra el call to action */
  .display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  // Modificacion de los estilos de la navbar
  .nav-link {
    @include utilidades.propiedadesTexto(
      variables.$colorNegro,
      variables.$fuenteBasker,
      1.25rem,
      10px,
      auto
    );
  }
  .navbar-nav {
    flex: 1;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 60px;
    li {
      padding-left: 0px;
    }
  }
  // Ajustes del footer a partir de 768px
  .footerUpper {
    font-size: 1.25rem;
  }

  .footerBottom {
    label {
      font-size: 1.25rem;
    }

    a {
      font-size: 1.25rem;
    }
  }

  .footerNavTitulo {
    font-size: 1.5rem;
  }


}

// /* Ajustes para PCs en adelante */
@media screen and (min-width: 1024px) {
  .contenedorCall {
    width: 40%;
  }
  .headerBanner {
    font-size: 3.75rem;
  }
  .botonBanner {
    font-size: 1.875rem;
  }
}
