@use "variables";
@use "utilidades";
@use "clasesBase";
//  Tabla

.tableEncabezado {
  th {
    @include utilidades.propiedadesTexto(
      variables.$colorAzulB,
      variables.$fuenteBasker,
      1.125 rem,
      auto,
      auto
    );
    font-weight: bold;
    text-align: center;
  }
}

.tableArea {
  @include utilidades.propiedadesTexto(
      variables.$colorAzulA,
      variables.$fuenteBasker,
      16px,
      auto,
      auto
    );
  font-weight: bold;
  text-align: center;
}

.tableInformacion {
  text-align: center;
}

.tableServicios {
  li {
    list-style-image: url(../../img/icons/bullet.svg);
    list-style-position: inside;
  }
}

.servicios{
  background-image: url(../../img/servicios/imagen.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 40px 10px;
  p{
    text-align: center;
    padding: 10px;
  }
  a{
    @extend .flexColumnaCenter;
    gap: 5px;
    background-color: variables.$colorAzulB;
    padding: 10px;
    border-radius: 10%;
    border: none;
    transition: all 0.5s;
    width: 50%;
    &:hover {
      transform: scale(1.05, 1.05);
    }
    &:active {
      transform: scale(1, 1);
    }
  }
  
  .textoCard{
    @include utilidades.propiedadesTexto(
    variables.$colorBlanco,
    serif,
    1rem,
    5px,
    auto auto
  );
  }

}