@use "variables";
@use "clasesBase";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans:wght@300&display=swap");

//Estilos utilizados en todas las secciones

// Clases para el header
.contenedorHeader {
  // Se incluye mixin para las animaciones
  @include clasesBase.animacion(aparecer, 1, ease-in, 0.75s);
  background-image: linear-gradient(
    to bottom,
    variables.$bgNav1,
    variables.$bgNav2
  );
}

.contenedorHeaderLogo {
  height: 90px;
  width: 200px;
}

.bodyFondo {
  background-color: variables.$colorBlanco;
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%231a374d' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: repeat;
  width: 100%;
}

// Clases para textos
// Comparten propiedades, se implementa un mixin
@mixin propiedadesTexto($color, $fuente, $sizeFuente, $padding, $margin) {
  color: $color;
  font-family: $fuente;
  font-size: $sizeFuente;
  padding: $padding;
  margin: $margin;
}

// Cambio a rem
.textoTitulo {
  @include propiedadesTexto(
    variables.$colorAzulB,
    variables.$fuenteBasker,
    2.5rem,
    10px,
    10px 0px
  );
}

.textoSubtitulo {
  @include propiedadesTexto(
    variables.$colorAzulA,
    variables.$fuenteBasker,
    1.375rem,
    0px 10px,
    15px 0px
  );
}

.textoEncabezado {
  @include propiedadesTexto(
    variables.$colorGris,
    variables.$fuenteBasker,
    1.25rem,
    10px,
    0px 5px
  );
}

.textoParrafo {
  @include propiedadesTexto(
    variables.$colorNegro,
    variables.$fuenteOpen,
    1.15rem,
    10px,
    0px 5px
  );
  text-align: justify;
}

// Clases para el footer
// Se extiende flexRow en _clasesBase.css

.footer {
  margin-top: 50px;
  position: relative;
  z-index: 200;
}

.footerUpper {
  @extend .flexRow;
  width: 80%;
  background-image: url(../../img/gifBg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(65%);
  border-radius: 10px;
  transform: translateY(15px);
  @include propiedadesTexto(
    variables.$colorBlanco,
    variables.$fuenteBasker,
    1rem,
    10px,
    0px 0px
  );
  a{
    width: fit-content;
  }
}

.footerLogoFb{
  transition: all 0.5s;
  &:hover{
    transform: scale(1.05, 1.05);
  }
}

.footerBottom {
  @extend .flexRow;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px;
  gap: 5px;
  background-color: #406882;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23d3d3d3' fill-opacity='0.38'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
  label{
    @include propiedadesTexto(
    variables.$colorBlanco,
    variables.$fuenteOpen,
    1rem,
    0px,
    0px 0px
  );
  }
  ul{
    list-style-type: none;
    padding-inline-start: 0px;
  }
  a{
    @include propiedadesTexto(
    variables.$colorBlanco,
    variables.$fuenteOpen,
    1rem,
    0px,
    0px 0px
  );
  }
  
  .form-row{
    padding: 0px;
  }
  .form-group{
    padding: 0px;
  }
  div{
    padding: 10px;
  }
}

.footerNavTitulo{
  @include propiedadesTexto(
    variables.$colorBlanco,
    variables.$fuenteOpen,
    1.25rem,
    0px,
    0px 0px
  );
  font-weight: 600;
}

// Clases de utilidad

.centrado {
  margin-right: auto;
  margin-left: auto;
}

.cursiva {
  font-style: italic;
}

.alignCentro {
  text-align: center;
}

.video {
  margin: 20px;
  width: 70%;
  min-height: 400px;
}

.redondeado {
  border-radius: 30px;
}

//En dispositivos chicos, el call to action desaparece para tener una mejor vista

.display {
  display: none;
}
